/*
==========
DAINE'S CODING SITE
v1.0.0 - Flamewing
-----
Code written by Daine
- site: https://daine.dev
- email: veralidaine.thewildmage@gmail.com
- Discord: daine#1078)
==========
*/

:root {
    --color-bg: #EDF2F3;
    --color-fg-primary: #12262A;
    --color-fg-secondary: #263a3e;
    --color-gradient-start: #20484F;
    --color-gradient-end: #4E9BAB;

    --font-family-display: "YoungSerif", serif;
    --font-family-body: "Merriweather", serif;

    --width-reading: 60ch;
}

*
, *::before
, *::after {
    box-sizing: border-box;
}

/*
-----
RESET
-----
*/

h1
, h2
, h3
, h4
, h5
, h6 {
    margin: 0;
}

p { margin: 0; }
* + p { margin-top: 1em; }

body {
    background: var(--color-bg);
    color: var(--color-fg-primary);
    font-family: var(--font-family-body);
    font-size: var(--step-0);
    hyphens: auto;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    text-align: justify;
}

/*
-----
ELEMENTS
-----
*/

article {
    max-width: var(--width-reading);
}

article > * + * {
    margin-top: 1em;
}

article > p:first-of-type { font-size: var(--step-1); }
article > p:not(:first-of-type) { color: var(--color-fg-secondary); }

h1
, h2
, h3
, h4
, h5
, h6 {
    background: 
        linear-gradient(
            25deg
            , var(--color-gradient-end)
            , var(--color-gradient-start)
        )
    ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--font-family-display);
    font-weight: bold;
    letter-spacing: 0.05em;
}

h1 { font-size: var(--step-4); line-height: 1.125; }
h2 { font-size: var(--step-2); line-height: 1.25; }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step-0); }
h6 { font-size: var(--step-0); }

main {
    padding: var(--step-0);
}

/*
-----
LAYOUTS
-----
*/

/* ----- DAWNSTRIKER */
.layout-center.dawnstriker {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- STORMBACK */
.layout-sidebar.stormback {
    display: flex;
    flex-wrap: wrap;
}

.layout-sidebar.stormback > * {
    flex: 1 1 40%;
}

.layout-sidebar.stormback .__sidebar {
    background: url(../images/dragon.svg) center / auto 90% no-repeat;
    min-width: 500px;
}

/* ----- RUMBLEBELLY */
.layout-social.rumblebelly {
    display: grid;
    grid-gap: 1em;
}

.layout-social.rumblebelly .__social-set {
    align-items: center;
    display: flex;
    justify-content: center;
}

.layout-social.rumblebelly .__social-set img {
    height: 1.5em;
}
