/*
==========
DAINE'S CODING SITE
v1.0.0 - Flamewing
-----
Code written by Daine
- site: https://daine.dev
- email: veralidaine.thewildmage@gmail.com
- Discord: daine#1078)
==========
*/

:root {
    --color-bg: #EDF2F3;
    --color-fg-primary: #12262A;
    --color-fg-secondary: #263a3e;
    --color-gradient-start: #20484F;
    --color-gradient-end: #4E9BAB;
}

body {
    background: var(--color-bg);
    color: var(--color-fg-primary);
}
