:root {
    --color-dark: hsl(18deg 12% 16%);
    --color-light: hsl(47deg 26% 86%);
    --color-primary: hsl(343deg 47% 49%);
    --color-secondary: hsl(198deg 35% 56%);

    --font-family-display: "YoungSerif", serif;
    --font-family-body: "Merriweather", serif;

    --measure-target: 60ch;
    --measure-min: 45ch;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--type-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-display);
}

h1 {
    font-size: var(--type-900);
}

h2 {
    font-size: var(--type-800);
}

h3 {
    font-size: var(--type-700);
}

h4 {
    font-size: var(--type-600);
}

h5 {
    font-size: var(--type-500);
}

h6 {
    font-size: var(--type-400);
}

/* TODO: Remove. This is temporary to make things easier to work with. */
img,
svg {
    max-height: 300px;
}

/*
-----
BLOCKS
-----
*/
.reading {
    max-inline-size: var(--measure-target);
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-300);
}

.sidebar .sidebar__main {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.sidebar .sidebar__side {
    flex-basis: var(--measure-min);
    flex-grow: 1;
}

/*
-----
UTILITIES
-----
*/
.utility-flow > * + * {
    margin-block-start: var(--space-400);
}
