/*
==========
DAINE'S CODING SITE
v1.0.0 - Flamewing
-----
Code written by Daine
- site: https://daine.dev
- Discord: daine#1078
==========
*/

:root {
    --color-bg: hsl(190, 20%, 94%);
    --color-fg-primary: hsl(190, 40%, 12%);
    --color-fg-secondary: hsl(190, 24%, 20%);
    --color-gradient-start: hsl(189, 42%, 22%);
    --color-gradient-end: hsl(190, 37%, 49%);

    --font-family-display: "YoungSerif", serif;
    --font-family-body: "Merriweather", serif;

    --gradient: linear-gradient(25deg, var(--color-gradient-start), var(--color-gradient-end));
    --gradient-reverse: linear-gradient(25deg, var(--color-gradient-end), var(--color-gradient-start));

    --width-reading: 60ch;
    --min-width-reading: 45ch;
}

*
, *::before
, *::after {
    box-sizing: border-box;
}

/*
-----
RESET
-----
*/

h1
, h2
, h3
, h4
, h5
, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

p { margin: 0; }
* + p { margin-top: 1em; }

body {
    background: var(--color-bg);
    color: var(--color-fg-primary);
    font-family: var(--font-family-body);
    font-size: var(--step-0);
    hyphens: auto;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    text-align: justify;
}

/*
-----
ELEMENTS
-----
*/

a {
    background: var(--gradient);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 0;
    color: var(--color-gradient-end);
    display: inline-block;
    text-decoration: none;
    transition: 0.25s;
}

a:focus
, a:hover {
    background-size: 100% 3px;
    transform: translateY(-5px);
}

article {
    max-width: min(var(--width-reading), 100%);
    min-width: min(var(--min-width-reading), 100%);
}

article > * + * {
    margin-top: 1em;
}

article > p:first-of-type { font-size: var(--step-1); }
article > p:not(:first-of-type) { color: var(--color-fg-secondary); }

h1
, h2
, h3
, h4
, h5
, h6 {
    background: var(--gradient-reverse);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--font-family-display);
    font-weight: bold;
    letter-spacing: 0.05em;
}

h1 { font-size: var(--step-4); line-height: 1.125; }
h2 { font-size: var(--step-2); line-height: 1.25; }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step-0); }
h6 { font-size: var(--step-0); }

hr {
    background: var(--gradient);
    border: none;
    height: 3px;
    margin: var(--step-2);
}

/*
-----
LAYOUTS
-----
*/

/* ----- DAWNSTRIKER */
.layout-center.dawnstriker {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----- STORMBACK */
.layout-sidebar.stormback {
    display: flex;
    flex-wrap: wrap;
}

.layout-sidebar.stormback > * {
    flex: 1 1 40%;
    padding: var(--step-0);
}

.layout-sidebar.stormback .__main {
    min-width: min(min-content, 100%);
}

.layout-sidebar.stormback .__sidebar {
    min-height: 60vh;
    min-width: min(350px, 100%);
}

/* ----- RUMBLEBELLY */
.layout-social.rumblebelly {
    align-items: center;
    display: grid;
    font-size: var(--step--1);
    grid-gap: var(--step-1);
    grid-template-areas:
        "discord    magrathea"
        "coffee     coffee"
    ;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}

.layout-social.rumblebelly .__coffee { grid-area: coffee; }
.layout-social.rumblebelly .__coffee a.kofi-button:hover {
    opacity: initial;
}

.layout-social.rumblebelly .__discord { grid-area: discord; }
.layout-social.rumblebelly .__discord img { height: 3em; }

.layout-social.rumblebelly .__email { grid-area: email; }

.layout-social.rumblebelly .__magrathea { grid-area: magrathea; }

.layout-social.rumblebelly .__magrathea img { height: 4em; }

/*
-----
LEGOS
-----
*/

/* ----- BEWIDLERUM */
a.lego-link.bewilderum {
    background: var(--gradient);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    border-radius: 3px;
    color: var(--color-bg);
    padding: 0 0.25em;
    position: relative;
    text-decoration: none;
    transition: 0.25s;
}

a.lego-link.bewilderum:focus
, a.lego-link.bewilderum:hover {
    background-size: 100% 3px;
    border-radius: 0;
    color: var(--color-fg-primary);
    transform: none;
}

/* ----- FLUTTERFLIGHT */

.lego-aesthetic.flutterflight {
    height: 100%;
    /* min-height: 60vh; */
    /* object-fit: contain; */
    /* object-position: center; */
    /* width: auto; */
}
